.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.image{
  cursor: pointer;
}

.section{
  position: relative;
}
.button{
  position: absolute;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 7px;
  outline: #f56f33 2px solid;
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  color: #f56f33;
}
.button:hover{

  background: #f56f33;
  color: #efefef;
}

.topleft {
top: 10vh;
left: 20%;
}
.topright {
  right: 20%;
  top: 10vh;
}
.btnleft {
  left: 20%;
  bottom: 10vh;
}
.btnright {
  bottom: 10vh;
  right: 20%;
}
.message {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background:linear-gradient(45deg, #21c60f, rgb(26, 162, 26));
  height: 38px;
  width: 180px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}